body {
    background-image: url("../images/doodles.png");
}

h2 {
    text-align: center;
}

#start-game {
    margin-top: 40px;
}

#button-container {
    text-align: center;
    margin: 0 auto;
}

#container {
    width: 960px;
    margin: 0 auto;
    box-align: center;
}

#main-container {
    background-color: lightgray;
    margin-top: 20px;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

header {
    padding: 20px;
    background: teal;
    margin-bottom: 20px;
    color: white;
}

#timer {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

#game {
    
}

#progress-bar {

}